# Week 2 - Let's get classifying

In this session, we will try to get some classifiers running. If time permits, we will do a bit more complex example as well

## Step 0 - Library and imports, as always
We will make the essential imports. Further imports will be done later

In [1]:
import sys
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import random
import matplotlib.pyplot as plt
import seaborn as sns
import sys


#Ignore Warnings - save some confusion
import warnings
warnings.filterwarnings('ignore')

#Pandas more columns
pd.options.display.max_columns = None
pd.set_option('display.max_columns', None)

# Add input as import path
sys.path.insert(0,'../input')

# Plot style
plt.style.use('fivethirtyeight')

# Import the data from the dataset
train_data = pd.read_csv('../input/train.csv',index_col='id')
test_data = pd.read_csv('../input/test.csv',index_col='id')

## Step 1 - Getting our input ready
Oops, we spoke too soon. Before we can think of classifying, we got to make sure our inputs are the way we would like them

### MiniStep 1 - Feature Transforms
What we would like to be doing here is to take existing features, and simplify them. Not still thinking about inputting missing features, or to normalize/quantify them.

In [2]:
def simplify_fares(df):
    df.fare = df.fare.fillna(-0.5)
    bins = (-1, 0, 8, 15, 31, 1000)
    group_names = ['Unknown', '1_quartile', '2_quartile', '3_quartile', '4_quartile']
    categories = pd.cut(df.fare, bins, labels=group_names)
    df.fare = categories
    return df

def simplify_cabins(df):
    df.cabin = df.cabin.fillna('N')
    df.cabin = df.cabin.apply(lambda x: x[0])
    return df


def format_name(df):
    df['lname'] = df.name.apply(lambda x: x.split(' ')[0])
    df['lname'].fillna(' ')
    df['nameprefix'] = df.name.apply(lambda x: x.split(' ')[1])
    df['nameprefix'].fillna(' ')
    return df


def drop_features(df):
    return df.drop(['ticket', 'name', 'embarked', 'home.dest'], axis=1)

def transform_features(df):
    df = simplify_fares(df)
    df = simplify_cabins(df)
    df = format_name(df)
    df = drop_features(df)
    return df


train_data = transform_features(train_data)
test_data  = transform_features(test_data)
print(train_data)

      pclass  survived     sex   age  sibsp  parch        fare cabin boat  \
id
277        1         1  female   NaN      1      0  4_quartile     B    6
562        2         1  female  30.0      0      0  2_quartile     N   13
111        1         1  female  24.0      3      2  4_quartile     C   10
930        3         0    male   NaN      1      0  1_quartile     N  NaN
841        3         0  female  17.0      0      0  1_quartile     N  NaN
585        2         0    male  27.0      1      0  3_quartile     N  NaN
609        3         0    male  26.0      0      0  2_quartile     N  NaN
540        2         1  female   2.0      1      1  3_quartile     N   11
1075       3         0    male  23.0      0      0  2_quartile     N  NaN
390        2         0    male  17.0      0      0  4_quartile     N  NaN
921        3         0    male   NaN      0      0  1_quartile     N    A
339        2         1    male   1.0      2      1  4_quartile     F   11
155        1         1  female  52.0      1      1  4_quartile     B    3
564        2         1  female  40.0      0      0  2_quartile     N    9
694        3         0    male  19.0      0      0  1_quartile     N  NaN
1028       3         1  female   NaN      1      0  3_quartile     N   16
1184       3         0    male   NaN      2      0  3_quartile     N  NaN
633        3         0    male  20.0      0      0  1_quartile     N  NaN
907        3         0  female  20.0      1      0  2_quartile     N  NaN
426        2         0    male  30.0      0      0  2_quartile     N  NaN
1210       3         0    male  40.0      1      4  3_quartile     N  NaN
257        1         1  female  35.0      1      0  4_quartile     C   11
474        2         0    male  31.0      0      0  2_quartile     N  NaN
439        2         0    male  49.0      1      2  4_quartile     N  NaN
9          1         0    male  71.0      0      0  4_quartile     N  NaN
948        3         0    male   NaN      0      0  1_quartile     N  NaN
762        3         1    male   1.0      1      2  3_quartile     N   10
802        3         0    male   NaN      0      0  1_quartile     N  NaN
482        2         1  female  17.0      0      0  2_quartile     N   12
893        3         0    male  29.0      0      0  1_quartile     N  NaN
...      ...       ...     ...   ...    ...    ...         ...   ...  ...
408        2         0    male  18.0      0      0  2_quartile     N  NaN
87         1         1    male  27.0      0      0  3_quartile     N    3
810        3         0    male  16.0      1      3  4_quartile     N  NaN
276        1         0    male  57.0      1      0  4_quartile     B  NaN
751        3         0    male  25.0      0      0  1_quartile     N  NaN
550        2         1  female  24.0      2      3  3_quartile     N    4
231        1         1    male  52.0      0      0  3_quartile     C    6
879        3         0    male   NaN      0      0  1_quartile     N  NaN
896        3         0    male  49.0      0      0     Unknown     N  NaN
835        3         0    male   NaN      0      0  2_quartile     N  NaN
752        3         0    male  24.0      2      0  3_quartile     N  NaN
984        3         1  female   NaN      0      0  1_quartile     N   15
163        1         1  female  35.0      1      0  4_quartile     N    8
1063       3         0    male  41.0      0      0  1_quartile     N  NaN
29         1         1    male  28.0      0      0  3_quartile     C    D
200        1         0    male  46.0      0      0  4_quartile     C  NaN
285        1         0    male  67.0      1      0  4_quartile     C  NaN
1267       3         0  female  30.0      1      1  3_quartile     N  NaN
783        3         1    male  24.0      0      0  1_quartile     N    D
1074       3         0    male   NaN      0      0  1_quartile     N  NaN
1087       3         0    male  28.0      0      0  1_quartile     N  NaN
982        3         0    male   NaN      0      0  1_quartile     N  NaN
677        3         0    male  26.0      0      0  1_quartile     N  NaN
977        3         0    male  20.5      0      0  1_quartile     N  NaN
35         1         1  female  45.0      0      0  4_quartile     N    4
626        3         0  female  38.0      4      2  1_quartile     N  NaN
640        3         0    male   9.0      4      2  4_quartile     N  NaN
845        3         1  female  24.0      1      0  3_quartile     N   15
1291       3         0    male   NaN      0      0  2_quartile     N  NaN
639        3         0    male   5.0      4      2  4_quartile     N  NaN

       body                    lname nameprefix
id
277     NaN                 Spencer,       Mrs.
562     NaN                 Slayter,      Miss.
111     NaN                 Fortune,      Miss.
930     NaN                 Kiernan,        Mr.
841     NaN                Hagardon,      Miss.
585   293.0                   Weisz,        Mr.
609   103.0                   Adams,        Mr.
540     NaN                   Quick,      Miss.
1075    NaN                   Odahl,        Mr.
390     NaN                  Deacon,        Mr.
921     NaN                   Keefe,        Mr.
339     NaN                  Becker,    Master.
155     NaN                    Hays,       Mrs.
564     NaN                   Smith,      Miss.
694     NaN                   Burke,        Mr.
1028    NaN                   Moran,      Miss.
1184    NaN                  Samaan,        Mr.
633     NaN              Andreasson,        Mr.
907     NaN                 Jussila,      Miss.
426    75.0                    Hale,        Mr.
1210    NaN                   Skoog,        Mr.
257     NaN                Schabert,       Mrs.
474   165.0                Kvillner,        Mr.
439     NaN                  Herman,        Mr.
9      22.0            Artagaveytia,        Mr.
948     NaN                    Lane,        Mr.
762     NaN                    Dean,    Master.
802     NaN                   Flynn,        Mr.
482     NaN                 Lehmann,      Miss.
893     NaN               Johansson,        Mr.
...     ...                      ...        ...
408     NaN               Fillbrook,        Mr.
87      NaN                  Daniel,        Mr.
810     NaN                    Ford,        Mr.
276     NaN                 Spencer,        Mr.
751     NaN               Dantcheff,        Mr.
550     NaN                Richards,       Mrs.
231     NaN                 Peuchen,     Major.
879     NaN                 Ivanoff,        Mr.
896     NaN                 Johnson,        Mr.
835     NaN                   Guest,        Mr.
752     NaN                  Davies,        Mr.
984     NaN                 Madigan,      Miss.
163     NaN               Holverson,       Mrs.
1063    NaN                   Nirva,        Mr.
29      NaN  Bjornstrom-Steffansson,        Mr.
200   292.0                McCaffry,        Mr.
285    96.0                  Straus,        Mr.
1267    NaN                      Van      Impe,
783     NaN                Duquemin,        Mr.
1074    NaN                O'Connor,        Mr.
1087    NaN                  Olsson,        Mr.
982     NaN               Lyntakoff,        Mr.
677     NaN             Bostandyeff,        Mr.
977     NaN                  Lovell,        Mr.
35      NaN                   Bowen,      Miss.
626     NaN               Andersson,      Miss.
640     NaN                 Asplund,    Master.
845     NaN             Hakkarainen,       Mrs.
1291    NaN                  Willer,        Mr.
639     NaN                 Asplund,    Master.

[654 rows x 12 columns]

### MiniStep 2 - Feature Encoding 
Our next step is to take existing features which possibly have text to convert them into numbers. 
**Categorical->Numerical**
In our previous sessions, we saw how to do it manually. 
Here, we will use the awesome scikit-learn library.

In [3]:
from sklearn import preprocessing
def encode_features(df_train, df_test):
    features = ['fare', 'cabin', 'sex', 'lname', 'nameprefix', 'boat']
    df_combined = pd.concat([df_train[features], df_test[features]])

    for feature in features:
        print feature
        le = preprocessing.LabelEncoder()
        le = le.fit(df_combined[feature])
        df_train[feature] = le.transform(df_train[feature])
        df_test[feature] = le.transform(df_test[feature])
    return df_train, df_test

train_data['boat'] = train_data['boat'].astype('str')
test_data['boat'] = test_data['boat'].astype('str')
train_data, test_data = encode_features(train_data, test_data)
print(train_data)

fare
cabin
sex
lname
nameprefix
boat
      pclass  survived  sex   age  sibsp  parch  fare  cabin  boat   body  \
id
277        1         1    0   NaN      1      0     3      1    17    NaN
562        2         1    0  30.0      0      0     1      7     4    NaN
111        1         1    0  24.0      3      2     3      2     1    NaN
930        3         0    1   NaN      1      0     0      7    27    NaN
841        3         0    0  17.0      0      0     0      7    27    NaN
585        2         0    1  27.0      1      0     2      7    27  293.0
609        3         0    1  26.0      0      0     1      7    27  103.0
540        2         1    0   2.0      1      1     2      7     2    NaN
1075       3         0    1  23.0      0      0     1      7    27    NaN
390        2         0    1  17.0      0      0     3      7    27    NaN
921        3         0    1   NaN      0      0     0      7    22    NaN
339        2         1    1   1.0      2      1     3      5     2    NaN
155        1         1    0  52.0      1      1     3      1    12    NaN
564        2         1    0  40.0      0      0     1      7    21    NaN
694        3         0    1  19.0      0      0     0      7    27    NaN
1028       3         1    0   NaN      1      0     2      7    10    NaN
1184       3         0    1   NaN      2      0     2      7    27    NaN
633        3         0    1  20.0      0      0     0      7    27    NaN
907        3         0    0  20.0      1      0     1      7    27    NaN
426        2         0    1  30.0      0      0     1      7    27   75.0
1210       3         0    1  40.0      1      4     2      7    27    NaN
257        1         1    0  35.0      1      0     3      2     2    NaN
474        2         0    1  31.0      0      0     1      7    27  165.0
439        2         0    1  49.0      1      2     3      7    27    NaN
9          1         0    1  71.0      0      0     3      7    27   22.0
948        3         0    1   NaN      0      0     0      7    27    NaN
762        3         1    1   1.0      1      2     2      7     1    NaN
802        3         0    1   NaN      0      0     0      7    27    NaN
482        2         1    0  17.0      0      0     1      7     3    NaN
893        3         0    1  29.0      0      0     0      7    27    NaN
...      ...       ...  ...   ...    ...    ...   ...    ...   ...    ...
408        2         0    1  18.0      0      0     1      7    27    NaN
87         1         1    1  27.0      0      0     2      7    12    NaN
810        3         0    1  16.0      1      3     3      7    27    NaN
276        1         0    1  57.0      1      0     3      1    27    NaN
751        3         0    1  25.0      0      0     0      7    27    NaN
550        2         1    0  24.0      2      3     2      7    13    NaN
231        1         1    1  52.0      0      0     2      2    17    NaN
879        3         0    1   NaN      0      0     0      7    27    NaN
896        3         0    1  49.0      0      0     4      7    27    NaN
835        3         0    1   NaN      0      0     1      7    27    NaN
752        3         0    1  24.0      2      0     2      7    27    NaN
984        3         1    0   NaN      0      0     0      7     8    NaN
163        1         1    0  35.0      1      0     3      7    19    NaN
1063       3         0    1  41.0      0      0     0      7    27    NaN
29         1         1    1  28.0      0      0     2      2    26    NaN
200        1         0    1  46.0      0      0     3      2    27  292.0
285        1         0    1  67.0      1      0     3      2    27   96.0
1267       3         0    0  30.0      1      1     2      7    27    NaN
783        3         1    1  24.0      0      0     0      7    26    NaN
1074       3         0    1   NaN      0      0     0      7    27    NaN
1087       3         0    1  28.0      0      0     0      7    27    NaN
982        3         0    1   NaN      0      0     0      7    27    NaN
677        3         0    1  26.0      0      0     0      7    27    NaN
977        3         0    1  20.5      0      0     0      7    27    NaN
35         1         1    0  45.0      0      0     3      7    13    NaN
626        3         0    0  38.0      4      2     0      7    27    NaN
640        3         0    1   9.0      4      2     3      7    27    NaN
845        3         1    0  24.0      1      0     2      7     8    NaN
1291       3         0    1   NaN      0      0     1      7    27    NaN
639        3         0    1   5.0      4      2     3      7    27    NaN

      lname  nameprefix
id
277     755          20
562     741          16
111     257          16
930     406          19
841     303          16
585     830          19
609       7          19
540     652          16
1075    591          19
390     198          19
921     399          19
339      66          13
155     323          20
564     747          16
694     108          19
1028    538          16
1184    706          19
633      22          19
907     388          16
426     306          19
1210    739          19
257     712          20
474     418          19
439     335          19
9        30          19
948     426          19
762     199          13
802     252          19
482     435          16
893     381          19
...     ...         ...
408     247          19
87      190          19
810     255          19
276     755          19
751     193          19
550     666          20
231     641          12
879     367          19
896     382          19
835     299          19
752     195          19
984     474          16
163     349          20
1063    573          19
29       83          19
200     499          19
285     772          19
1267    811           9
783     226          19
1074    584          19
1087    595          19
982     471          19
677      88          19
977     465          19
35       92          16
626      21          16
640      33          13
845     305          20
1291    845          19
639      33          13

[654 rows x 12 columns]

### MiniStep 3 - Missing Data!

Here, we use sklearn's imputer to directly fill in missing data

In [4]:
def fill_missing_data(df_train,df_test):
    features = ['age', 'body', 'boat']
    df_combined = pd.concat([df_train[features], df_test[features]])
    df_imputer = preprocessing.Imputer()
    df_imputer.fit(df_combined[features])
    df_train[features] = df_imputer.transform(df_train[features])
    df_test[features] = df_imputer.transform(df_test[features])
    return df_train, df_test

train_data,test_data = fill_missing_data(train_data,test_data)
print(train_data)

      pclass  survived  sex        age  sibsp  parch  fare  cabin  boat  \
id
277        1         1    0  29.881135      1      0     3      1  17.0
562        2         1    0  30.000000      0      0     1      7   4.0
111        1         1    0  24.000000      3      2     3      2   1.0
930        3         0    1  29.881135      1      0     0      7  27.0
841        3         0    0  17.000000      0      0     0      7  27.0
585        2         0    1  27.000000      1      0     2      7  27.0
609        3         0    1  26.000000      0      0     1      7  27.0
540        2         1    0   2.000000      1      1     2      7   2.0
1075       3         0    1  23.000000      0      0     1      7  27.0
390        2         0    1  17.000000      0      0     3      7  27.0
921        3         0    1  29.881135      0      0     0      7  22.0
339        2         1    1   1.000000      2      1     3      5   2.0
155        1         1    0  52.000000      1      1     3      1  12.0
564        2         1    0  40.000000      0      0     1      7  21.0
694        3         0    1  19.000000      0      0     0      7  27.0
1028       3         1    0  29.881135      1      0     2      7  10.0
1184       3         0    1  29.881135      2      0     2      7  27.0
633        3         0    1  20.000000      0      0     0      7  27.0
907        3         0    0  20.000000      1      0     1      7  27.0
426        2         0    1  30.000000      0      0     1      7  27.0
1210       3         0    1  40.000000      1      4     2      7  27.0
257        1         1    0  35.000000      1      0     3      2   2.0
474        2         0    1  31.000000      0      0     1      7  27.0
439        2         0    1  49.000000      1      2     3      7  27.0
9          1         0    1  71.000000      0      0     3      7  27.0
948        3         0    1  29.881135      0      0     0      7  27.0
762        3         1    1   1.000000      1      2     2      7   1.0
802        3         0    1  29.881135      0      0     0      7  27.0
482        2         1    0  17.000000      0      0     1      7   3.0
893        3         0    1  29.000000      0      0     0      7  27.0
...      ...       ...  ...        ...    ...    ...   ...    ...   ...
408        2         0    1  18.000000      0      0     1      7  27.0
87         1         1    1  27.000000      0      0     2      7  12.0
810        3         0    1  16.000000      1      3     3      7  27.0
276        1         0    1  57.000000      1      0     3      1  27.0
751        3         0    1  25.000000      0      0     0      7  27.0
550        2         1    0  24.000000      2      3     2      7  13.0
231        1         1    1  52.000000      0      0     2      2  17.0
879        3         0    1  29.881135      0      0     0      7  27.0
896        3         0    1  49.000000      0      0     4      7  27.0
835        3         0    1  29.881135      0      0     1      7  27.0
752        3         0    1  24.000000      2      0     2      7  27.0
984        3         1    0  29.881135      0      0     0      7   8.0
163        1         1    0  35.000000      1      0     3      7  19.0
1063       3         0    1  41.000000      0      0     0      7  27.0
29         1         1    1  28.000000      0      0     2      2  26.0
200        1         0    1  46.000000      0      0     3      2  27.0
285        1         0    1  67.000000      1      0     3      2  27.0
1267       3         0    0  30.000000      1      1     2      7  27.0
783        3         1    1  24.000000      0      0     0      7  26.0
1074       3         0    1  29.881135      0      0     0      7  27.0
1087       3         0    1  28.000000      0      0     0      7  27.0
982        3         0    1  29.881135      0      0     0      7  27.0
677        3         0    1  26.000000      0      0     0      7  27.0
977        3         0    1  20.500000      0      0     0      7  27.0
35         1         1    0  45.000000      0      0     3      7  13.0
626        3         0    0  38.000000      4      2     0      7  27.0
640        3         0    1   9.000000      4      2     3      7  27.0
845        3         1    0  24.000000      1      0     2      7   8.0
1291       3         0    1  29.881135      0      0     1      7  27.0
639        3         0    1   5.000000      4      2     3      7  27.0

            body  lname  nameprefix
id
277   160.809917    755          20
562   160.809917    741          16
111   160.809917    257          16
930   160.809917    406          19
841   160.809917    303          16
585   293.000000    830          19
609   103.000000      7          19
540   160.809917    652          16
1075  160.809917    591          19
390   160.809917    198          19
921   160.809917    399          19
339   160.809917     66          13
155   160.809917    323          20
564   160.809917    747          16
694   160.809917    108          19
1028  160.809917    538          16
1184  160.809917    706          19
633   160.809917     22          19
907   160.809917    388          16
426    75.000000    306          19
1210  160.809917    739          19
257   160.809917    712          20
474   165.000000    418          19
439   160.809917    335          19
9      22.000000     30          19
948   160.809917    426          19
762   160.809917    199          13
802   160.809917    252          19
482   160.809917    435          16
893   160.809917    381          19
...          ...    ...         ...
408   160.809917    247          19
87    160.809917    190          19
810   160.809917    255          19
276   160.809917    755          19
751   160.809917    193          19
550   160.809917    666          20
231   160.809917    641          12
879   160.809917    367          19
896   160.809917    382          19
835   160.809917    299          19
752   160.809917    195          19
984   160.809917    474          16
163   160.809917    349          20
1063  160.809917    573          19
29    160.809917     83          19
200   292.000000    499          19
285    96.000000    772          19
1267  160.809917    811           9
783   160.809917    226          19
1074  160.809917    584          19
1087  160.809917    595          19
982   160.809917    471          19
677   160.809917     88          19
977   160.809917    465          19
35    160.809917     92          16
626   160.809917     21          16
640   160.809917     33          13
845   160.809917    305          20
1291  160.809917    845          19
639   160.809917     33          13

[654 rows x 12 columns]

### MiniStep 4  - Almost There!

Get X (FeatureVectors - Actual training data) and Y ( training labels) . Once we get them, we will also scale them.

In [5]:
def get_X_Y_pair(df):
    features = df.columns.values
    x_features = [f for f in features if f!='survived']
    return df[x_features], df['survived']

def scale_data(df_train, df_test):
    df_combine = pd.concat([df_train, df_test])
    features = df_train.columns.values
    scaler = preprocessing.StandardScaler()
    scaler.fit(df_combine)
    return scaler.transform(df_train), scaler.transform(df_test)

x_train, y_train = get_X_Y_pair(train_data)
x_test, y_test = get_X_Y_pair(test_data)

#not pandas after this
x_train, x_test = scale_data(x_train,x_test)
print(type(x_train), type(x_test))

(<type 'numpy.ndarray'>, <type 'numpy.ndarray'>)

Now, we are done arranging the data. Time To run some sample classifiers and see how they work out

## Step 2 - Feed the classifier


### MiniStep 2.1 - Setting up a meta-classifier
Again, using scikit-learn, we have a great advantage here. Scikit-learn's classifiers come with a beautiful interface

```
Let's assume our classifier instance is clf
clf = ClassifierName(ClassifierParams=...) #Defaults are usually good enough in most cases
clf.fit (traindata, trainlabels) # Training
test_answers = clf.predict(testdata) # Testing

```

since it's so beautiful, lets create a meta function that would train on any training data, test on some given testing data, calculate the accuracy for titanic dataset and return it